@implements IDisposable

@foreach (var message in this.CascadedEditContext.GetValidationMessages())
{
    <div class="alert alert-danger">@message</div>
}

@if (!this.CascadedEditContext.GetValidationMessages().Any())
{
    <div class="alert alert-success">No validation issues with the form. </div>
}

@code {
    [CascadingParameter] private EditContext CascadedEditContext { get; set; } = default!;

    private string ComponentId = Guid.NewGuid().ToString().Substring(0, 8);

    public override Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);
        ArgumentNullException.ThrowIfNull(this.CascadedEditContext);
        return base.SetParametersAsync(ParameterView.Empty);
    }

    protected override void OnInitialized()
    {
        this.CascadedEditContext.OnValidationStateChanged += this.OnValidationStateChanged;
    }

    private void OnValidationStateChanged(object? sender, ValidationStateChangedEventArgs e)
    {
        Console.WriteLine($"{this.GetType().Name} - {ComponentId} => Validation state change");
        this.StateHasChanged();
    }

    public void Dispose()
    {
        this.CascadedEditContext.OnValidationStateChanged -= this.OnValidationStateChanged;
    }
}
